* {
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
}

table {
  border-spacing: 0px!important;
  padding: 0;
}

td {
  height: 40px;
  border: 1px solid black;
  padding: 0;
  padding-left: 5px;
  line-height:0;
}

.alternatingColors:nth-child(odd) {
  background-color: gray;
}

.alternatingColors:nth-child(even) {
  background-color: black;
}